


.btnMain {
	min-width: 5rem;
	display: inline-block;
	text-align: center;
	margin: 3rem auto;
	a {
		background: $black;
		font-weight: 900;
		font-size: .65rem;
		letter-spacing: 2px;
		text-transform: uppercase;
		color: $white !important;
		padding: 1.3rem 1.7rem;
		border: 2px solid $black;
		@include border-radius(5px);
		cursor: pointer;
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;
		&:hover {
			background: transparent;
			color: $black !important;
		}
		&:focus {
			outline: none;
		}
	}
}



/* Exhange */
.exchange {
	margin: 0 auto 8rem auto;
	.btnExchange {
		display: inline-block;
		margin: 0 .5rem 2rem .5rem;
		img {
			@include transition(all .25s ease);
		}
		&:hover img {
			@include transform(scale(1.05));
		}
	}
}


.buttons {
	.btnGroup {
		margin: 1rem auto;
		p {
			margin: 0 auto;
		}
		.btnIcon {
			display: inline-block;
			margin: 1rem;
			a {
				background: $black;
				display: table-cell;
				vertical-align: middle;
				font-weight: 900;
				font-size: .7rem;
				letter-spacing: 2px;
				text-transform: uppercase;
				color: $white !important;
				padding: 1rem 2rem;
				border: 2px solid $black;
				@include border-radius(5px);
				cursor: pointer;
				-webkit-appearance: none;
				-moz-appearance: none;
				appearance: none;
				.fab {
					display: inline;
					font-size: 1.5rem;
					margin: 0 0 0 .5rem;
				}
				&:hover {
					background: transparent;
					color: $black !important;
				}
				&:focus {
					outline: none;
				}
			}
		}
	}
}

.home {
	.btnIcon a {
		font-size: 4rem;
		&:hover {
			color: $yellow;
		}
	}
}

@media all and (min-width: 960px) {
	.buttons {
		flex-flow: row wrap;
		.btnIcon {
			margin: 3rem auto;
		}
	}
}



/* Underline Buttons */
.btnLine a {
	display: inline-block;
	vertical-align: middle;
	-webkit-transform: perspective(1px) translateZ(0);
	transform: perspective(1px) translateZ(0);
	box-shadow: 0 0 1px transparent;
	margin: 0;
	position: relative;
	overflow: hidden;

	&::before {
		background: $yellow;
		content: "";
		position: absolute;
		z-index: -999;
		left: 50%;
		right: 50%;
		bottom: 0;
		height: 1px;
		-webkit-transition-property: left, right;
		transition-property: left, right;
		-webkit-transition-duration: 0.2s;
		transition-duration: 0.2s;
		-webkit-transition-timing-function: ease-out;
		transition-timing-function: ease-out;
	}
	&:hover::before, &:focus::before, &:active::before {
		left: 0;
		right: 0;
	}
}



/* Bouncing Effect */
@-moz-keyframes bounce {
	0%, 20%, 50%, 80%, 100% {
		@include transform (translateY(0px));
	}
	40% {
		@include transform (translateY(-15px));
	}
	60% {
		@include transform (translateY(-10px));
	}
}
@-webkit-keyframes bounce {
	0%, 20%, 50%, 80%, 100% {
		@include transform (translateY(0px));
	}
	40% {
		@include transform (translateY(-15px));
	}
	60% {
		@include transform (translateY(-10px));
	}
}
@keyframes bounce {
	0%, 20%, 50%, 80%, 100% {
		@include transform (translateY(0px));
	}
	40% {
		@include transform (translateY(-15px));
	}
	60% {
		@include transform (translateY(-10px));
	}
}
.bounce {
  -moz-animation: bounce 2s infinite;
  -webkit-animation: bounce 2s infinite;
  animation: bounce 2s infinite;
}


